@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  margin: 2em;
}



.about-me .content{
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 2rem;
  margin: auto;
  width: auto;
  /* background-color: rgba(0, 0, 0, 0.548); */
  padding: 5rem;
}

.resume .content{
  display: grid;
  /* margin: 0 1em 1em 1em; */
  grid-template-columns: 4fr 5fr 1fr;
  padding: 5em;
  color: white;
  /* grid-column: 1 / 4; */
  /* height: 0; */
  /* display: none; */
  background-color: rgba(255, 255, 255, 0.788);
  color: #000;
  /* opacity: 70%; */
  /* width: 100%; */
}

.resume h2{
  /* margin-top: 1em; */
}

.resume ul{
  /* padding-left: 1em;
  list-style: disc;
  line-height: 1.7em; */
}

.resume p {
  /* margin: 0.3em 0 0.1em 0; */
}

.resume ol{
  /* padding-left: 1em;
  list-style: disc;
  line-height: 1.7em; */
}

.resume ol li{
  /* margin-top: 1em; */
}

.resume a{
  height: 4em;
  text-decoration: none;
  color: rgb(253, 255, 240);
  background-color: slateblue;
  padding: 1em 2em;
  letter-spacing: 0.5em;
  border-radius: 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.resume a:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(125, 110, 224);
 
}

.portfolio {
  height: auto;
}





.portfolio .fa-html5{
  margin-top: 0.7rem;
  color: #F16529;
  position: relative;
}

.portfolio .fa-html5::after{
  content: "HTML";
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: -.55rem;
  left: .2rem;
  font-size: .7rem;
}

.portfolio .fa-css3-alt{
  color: #167DBE;
  margin-top: 0.7rem;
  position: relative;
}

.portfolio .fa-css3-alt::after{
  content: "CSS";
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: -.55rem;
  left: .4rem;
  font-size: .7rem;
}

.portfolio .fa-js{
  margin-top: .7rem;
  color: #F7C130;
  position: relative;
}

.portfolio .fa-js::after{
  content: "JavaScript";
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: -.45rem;
  left: 0.09rem;
  font-size: .53rem;
}

.portfolio .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  /* width: 90%; */
  gap: 1em;
}

.portfolio-item {
  position: relative;
  
  padding: 0.5rem;
  /* height: 45vh; */
  background-color: rgba(255, 255, 255, 0.952);
  color: #111;
  /* color: rgb(255, 255, 255); */
  /* background-color: rgba(17, 17, 17, 0.61); */
}

.portfolio-item h2 {
  margin-bottom: 0.5rem;
}

.portfolio-item .techs {
  display: flex;
  /* position: absolute; */
  top: 17.5em
}

.portfolio-item .portfolio-links{
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 1rem 0;
}

.portfolio-link{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width: 30%; */
  padding: .3rem .5rem;
  background-color: rgb(125, 110, 224);
  border-radius: 0.2rem;
  text-decoration: none ;

}

.portfolio-link .icon-size, .portfolio-link .link-text{

  color: white;
  margin: 0 .5rem;

} 

.portfolio-link .icon-size {font-size: 1.7rem;} 
.portfolio-link .link-text {font-size: 1.5rem;}

.portfolio .techs i {
  /* color: white; */
  font-size: 3rem;
  margin: .1rem .2rem;
}

.portfolio-item .description p {
 padding: .7rem .5rem;
 font-size: 1.1rem;
}

.portfolio-item .description ul {
  list-style: disc inside;
  padding: .5rem 1rem;
 }

.portfolio-item .description ul li {
  /* margin-top: .2rem;
  margin-left: .5rem; */
 }
